@page "/"
@namespace Battleships.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battleships</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazor.Extensions.Canvas/blazor.extensions.canvas.js"></script>

    <script>
        window.getElementCoordinates = (divElement) => {
            var divRect = divElement.getBoundingClientRect();

            //in no way I could manage to return complex type here to C# code
            return divRect.left.toFixed() + "|" + divRect.top.toFixed();
        };
        window.switchOpacity = (divElement, enable) => {
            var level = 0.5;
            divElement.style.opacity = enable ? 0.9 : level;
        };
    </script>
</body>
</html>
