@using System.Threading
@using Battleships.Factories
@using Battleships.Mechanics
@using Battleships.Models

@inject ShipFactory ShipFactory;
@inject TurnProcessor TurnProcessor;

<div @onclick="RestartGameAsync">Battleships<br/> (click to restart)</div>

<div>
    Player's board
    <BoardComponent @ref="_playerBoardComponent" />
</div>
<div>
    Enemy's board
    <BoardComponent @ref="_enemyBoardComponent" />
</div>

@code
{
    private BoardComponent _enemyBoardComponent;
    private BoardComponent _playerBoardComponent;

    private readonly IList<Ship> _enemyShips = new List<Ship>();
    private readonly IList<Ship> _playerShips = new List<Ship>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            InitializeGame();

            _enemyBoardComponent.AddOnClickListener(ProcessOnEnemyBoardClickAsync);
        }
    }

    private void InitializeGame()
    {
        _playerBoardComponent.Board.Clear();
        _enemyBoardComponent.Board.Clear();

        BuildShips(_playerShips, _playerBoardComponent.Board);
        BuildShips(_enemyShips, _enemyBoardComponent.Board);

        PlaceShipsOnBoard();
    }

    private void PlaceShipsOnBoard()
    {
        foreach (var playerShip in _playerShips)
        {
            foreach (var playerShipSegment in playerShip.Segments)
            {
                _playerBoardComponent.Board.SetCellState(playerShipSegment.X, playerShipSegment.Y, CellState.Ship);
            }
        }
    }

    private void BuildShips(ICollection<Ship> ships, Board board)
    {
        ships.Clear();

        var battleship = ShipFactory.CreateRandomShip(5, ships, board.Cols, board.Rows);
        ships.Add(battleship);
        var destroyer1 = ShipFactory.CreateRandomShip(4, ships, board.Cols, board.Rows);
        ships.Add(destroyer1);
        var destroyer2 = ShipFactory.CreateRandomShip(4, ships, board.Cols, board.Rows);
        ships.Add(destroyer2);
    }

    private async Task ProcessOnEnemyBoardClickAsync(int col, int row)
    {
        if (!_enemyBoardComponent.IsEnabled)
        {
            return;
        }

        _enemyBoardComponent.IsEnabled = false;

        var turnIsValid = TurnProcessor.ValidateTurn(col, row, _enemyBoardComponent);
        async Task<bool> Hit() => await ProcessTurnAsync(col, row, _enemyBoardComponent, _enemyShips, "You won! Congratulations!");
        if (!turnIsValid || (await Hit()))
        {
            _enemyBoardComponent.IsEnabled = true;
            return;
        }

        Thread.Sleep(700);
        var rnd = new Random(Guid.NewGuid().GetHashCode());
        await ProcessTurnAsync(rnd.Next(0, _playerBoardComponent.Board.Cols), rnd.Next(0, _playerBoardComponent.Board.Rows), _playerBoardComponent, _playerShips, "WASTED!");
        
        _enemyBoardComponent.IsEnabled = true;
    }

    private async Task<bool> ProcessTurnAsync(
        int col,
        int row,
        BoardComponent oponentBoardComponent,
        ICollection<Ship> oponentShips,
        string gameOverMessage)
    {
        var (hit, gameOver) = await TurnProcessor.ProcessTurnAsync(col, row, oponentBoardComponent, oponentShips, gameOverMessage);

        if (gameOver)
        {
            await RestartGameAsync();
        }

        return hit;
    }

    private async Task RestartGameAsync()
    {
        InitializeGame();

        await _playerBoardComponent.RedrawAsync();
        await _enemyBoardComponent.RedrawAsync();
    }
}
